## Job Satisfaction

In this notebook, you will be exploring job satisfaction according to the survey results. Use the cells at the top of the notebook to explore as necessary, and use your findings to solve the questions at the bottom of the notebook.

In [3]:
import pandas as pd
import numpy as np
import JobSatisfaction as t
import matplotlib.pyplot as plt
%matplotlib inline

df = pd.read_csv('survey_results_public.csv')
schema = pd.read_csv('survey_results_schema.csv')
df.head()

,Respondent,Professional,ProgramHobby,Country,University,EmploymentStatus,FormalEducation,MajorUndergrad,HomeRemote,CompanySize,...,StackOverflowMakeMoney,Gender,HighestEducationParents,Race,SurveyLong,QuestionsInteresting,QuestionsConfusing,InterestedAnswers,Salary,ExpectedSalary
0,1,Student,"Yes, both",United States,No,"Not employed, and not looking for work",Secondary school,NaN,NaN,NaN,...,Strongly disagree,Male,High school,White or of European descent,Strongly disagree,Strongly agree,Disagree,Strongly agree,NaN,NaN
1,2,Student,"Yes, both",United Kingdom,"Yes, full-time",Employed part-time,Some college/university study without earning ...,Computer science or software engineering,"More than half, but not all, the time",20 to 99 employees,...,Strongly disagree,Male,A master's degree,White or of European descent,Somewhat agree,Somewhat agree,Disagree,Strongly agree,NaN,37500.0
2,3,Professional developer,"Yes, both",United Kingdom,No,Employed full-time,Bachelor's degree,Computer science or software engineering,"Less than half the time, but at least one day ...","10,000 or more employees",...,Disagree,Male,A professional degree,White or of European descent,Somewhat agree,Agree,Disagree,Agree,113750.0,NaN
3,4,Professional non-developer who sometimes write...,"Yes, both",United States,No,Employed full-time,Doctoral degree,A non-computer-focused engineering discipline,"Less than half the time, but at least one day ...","10,000 or more employees",...,Disagree,Male,A doctoral degree,White or of European descent,Agree,Agree,Somewhat agree,Strongly agree,NaN,NaN
4,5,Professional developer,"Yes, I program as a hobby",Switzerland,No,Employed full-time,Master's degree,Computer science or software engineering,Never,10 to 19 employees,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df = pd.read_csv('survey-results-public.csv') 
df.head(2)

,Respondent,Professional,ProgramHobby,Country,University,EmploymentStatus,FormalEducation,MajorUndergrad,HomeRemote,CompanySize,...,StackOverflowMakeMoney,Gender,HighestEducationParents,Race,SurveyLong,QuestionsInteresting,QuestionsConfusing,InterestedAnswers,Salary,ExpectedSalary
0,1,Student,"Yes, both",United States,No,"Not employed, and not looking for work",Secondary school,NaN,NaN,NaN,...,Strongly disagree,Male,High school,White or of European descent,Strongly disagree,Strongly agree,Disagree,Strongly agree,NaN,NaN
1,2,Student,"Yes, both",United Kingdom,"Yes, full-time",Employed part-time,Some college/university study without earning ...,Computer science or software engineering,"More than half, but not all, the time",20 to 99 employees,...,Strongly disagree,Male,A master's degree,White or of European descent,Somewhat agree,Somewhat agree,Disagree,Strongly agree,NaN,37500.0

In [12]:
# The proportion of missing values in the Job Satisfaction column

In [11]:
df['JobSatisfaction'].isnull().mean()

0.21435242839352428

In [ ]:
# According to EmploymentStatus, which group has the highest average job satisfaction?

In [14]:
df['EmploymentStatus'].value_counts()

Employed full-time                                      36148
Independent contractor, freelancer, or self-employed     5233
Employed part-time                                       3180
Not employed, and not looking for work                   2791
Not employed, but looking for work                       2786
I prefer not to say                                      1086
Retired                                                   168
Name: EmploymentStatus, dtype: int64

In [19]:
df.head()

,Respondent,Professional,ProgramHobby,Country,University,EmploymentStatus,FormalEducation,MajorUndergrad,HomeRemote,CompanySize,...,StackOverflowMakeMoney,Gender,HighestEducationParents,Race,SurveyLong,QuestionsInteresting,QuestionsConfusing,InterestedAnswers,Salary,ExpectedSalary
0,1,Student,"Yes, both",United States,No,"Not employed, and not looking for work",Secondary school,NaN,NaN,NaN,...,Strongly disagree,Male,High school,White or of European descent,Strongly disagree,Strongly agree,Disagree,Strongly agree,NaN,NaN
1,2,Student,"Yes, both",United Kingdom,"Yes, full-time",Employed part-time,Some college/university study without earning ...,Computer science or software engineering,"More than half, but not all, the time",20 to 99 employees,...,Strongly disagree,Male,A master's degree,White or of European descent,Somewhat agree,Somewhat agree,Disagree,Strongly agree,NaN,37500.0
2,3,Professional developer,"Yes, both",United Kingdom,No,Employed full-time,Bachelor's degree,Computer science or software engineering,"Less than half the time, but at least one day ...","10,000 or more employees",...,Disagree,Male,A professional degree,White or of European descent,Somewhat agree,Agree,Disagree,Agree,113750.0,NaN
3,4,Professional non-developer who sometimes write...,"Yes, both",United States,No,Employed full-time,Doctoral degree,A non-computer-focused engineering discipline,"Less than half the time, but at least one day ...","10,000 or more employees",...,Disagree,Male,A doctoral degree,White or of European descent,Agree,Agree,Somewhat agree,Strongly agree,NaN,NaN
4,5,Professional developer,"Yes, I program as a hobby",Switzerland,No,Employed full-time,Master's degree,Computer science or software engineering,Never,10 to 19 employees,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
df.groupby('EmploymentStatus').mean()

C:\Users\tmost\AppData\Local\Temp\ipykernel_24004\3437866657.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('EmploymentStatus').mean()

,Respondent,CareerSatisfaction,JobSatisfaction,HoursPerWeek,StackOverflowSatisfaction,Salary,ExpectedSalary
EmploymentStatus,,,,,,,
Employed full-time,25460.978754,7.354600,6.926805,3.414092,8.462971,57353.913736,32580.700110
Employed part-time,25938.816667,7.169207,6.821468,3.903614,8.408229,26916.356606,39812.927903
I prefer not to say,25247.449355,6.463977,NaN,6.081560,8.142241,NaN,34603.136570
"Independent contractor, freelancer, or self-employed",26489.220715,7.453691,7.252823,4.332516,8.392894,NaN,32486.817981
"Not employed, and not looking for work",25317.321390,6.662100,7.000000,2.515933,8.322013,NaN,34795.438566
"Not employed, but looking for work",27485.405958,5.215962,NaN,8.537255,8.269520,NaN,26943.820755
Retired,26629.904762,7.625899,NaN,7.446809,7.295455,NaN,15151.515152

In [20]:
df.groupby('EmploymentStatus').mean()['JobSatisfaction']

C:\Users\tmost\AppData\Local\Temp\ipykernel_24004\865010312.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('EmploymentStatus').mean()['JobSatisfaction']

EmploymentStatus
Employed full-time                                      6.926805
Employed part-time                                      6.821468
I prefer not to say                                          NaN
Independent contractor, freelancer, or self-employed    7.252823
Not employed, and not looking for work                  7.000000
Not employed, but looking for work                           NaN
Retired                                                      NaN
Name: JobSatisfaction, dtype: float64

In [ ]:
# In general, do smaller companies appear to have employees with higher job satisfaction?

In [22]:
df.CompanySize

0                             NaN
1              20 to 99 employees
2        10,000 or more employees
3        10,000 or more employees
4              10 to 19 employees
                   ...
51387        100 to 499 employees
51388        100 to 499 employees
51389          10 to 19 employees
51390     Fewer than 10 employees
51391    10,000 or more employees
Name: CompanySize, Length: 51392, dtype: object

In [29]:
df.groupby('CompanySize').mean()['JobSatisfaction'].sort_values(ascending=False)

C:\Users\tmost\AppData\Local\Temp\ipykernel_24004\3525151787.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('CompanySize').mean()['JobSatisfaction'].sort_values(ascending=False)

CompanySize
I prefer not to answer      7.280835
Fewer than 10 employees     7.008749
10 to 19 employees          7.000799
20 to 99 employees          6.949092
100 to 499 employees        6.937089
1,000 to 4,999 employees    6.884509
500 to 999 employees        6.883661
I don't know                6.842679
10,000 or more employees    6.810345
5,000 to 9,999 employees    6.748153
Name: JobSatisfaction, dtype: float64

## Question 1

1. Use the space above to assist in matching each variable (a, b, c, d, e, f, g, or h ) as the appropriate key that describes the value in the job_sol_1 dictionary.

In [30]:
a = 0.734
b = 0.21
c = 'full-time'
d = 'contractors'
e = 'retired'
f = 'yes'
g = 'no'
h = 'hard to tell'

job_sol_1 = {'The proportion of missing values in the Job Satisfaction column': b,
             'According to EmploymentStatus, which group has the highest average job satisfaction?': d, 
             'In general, do smaller companies appear to have employees with higher job satisfaction?': f}
             
t.jobsat_check1(job_sol_1)

Oops! That first proportion doesn't look like what I was expecting.

In [33]:
# Do individuals who program outside of work appear to have higher JobSatisfaction?

df.ProgramHobby

0                        Yes, both
1                        Yes, both
2                        Yes, both
3                        Yes, both
4        Yes, I program as a hobby
                   ...
51387    Yes, I program as a hobby
51388                           No
51389    Yes, I program as a hobby
51390    Yes, I program as a hobby
51391                           No
Name: ProgramHobby, Length: 51392, dtype: object

In [47]:
df.groupby('ProgramHobby').mean()['JobSatisfaction'].sort_values()

C:\Users\tmost\AppData\Local\Temp\ipykernel_24004\2400122804.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('ProgramHobby').mean()['JobSatisfaction'].sort_values()

ProgramHobby
No                                           6.833825
Yes, I program as a hobby                    6.913072
Yes, I contribute to open source projects    7.041535
Yes, both                                    7.108041
Name: JobSatisfaction, dtype: float64

In [39]:
# Does flexibility to work outside of the office appear to have an influence on JobSatisfaction?

df.HomeRemote[1:6]

1                More than half, but not all, the time
2    Less than half the time, but at least one day ...
3    Less than half the time, but at least one day ...
4                                                Never
5                                                  NaN
Name: HomeRemote, dtype: object

In [46]:
df.groupby('HomeRemote').mean()['JobSatisfaction'].sort_values()

C:\Users\tmost\AppData\Local\Temp\ipykernel_24004\1805875631.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('HomeRemote').mean()['JobSatisfaction'].sort_values()

HomeRemote
Never                                                      6.632502
It's complicated                                           6.840830
More than half, but not all, the time                      6.953184
About half the time                                        6.973702
A few days each month                                      7.077509
Less than half the time, but at least one day each week    7.120125
All or almost all the time (I'm full-time remote)          7.388430
Name: JobSatisfaction, dtype: float64

In [ ]:
# A friend says a Doctoral degree increases the chance of having job you like, does this seem true?

In [48]:
df.groupby('FormalEducation').mean()['JobSatisfaction'].sort_values()

C:\Users\tmost\AppData\Local\Temp\ipykernel_24004\1013265016.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('FormalEducation').mean()['JobSatisfaction'].sort_values()

FormalEducation
I never completed any formal education                               6.833333
Bachelor's degree                                                    6.866363
Master's degree                                                      6.953151
Primary/elementary school                                            6.956897
I prefer not to answer                                               7.005682
Some college/university study without earning a bachelor's degree    7.081334
Professional degree                                                  7.087459
Secondary school                                                     7.143082
Doctoral degree                                                      7.348857
Name: JobSatisfaction, dtype: float64

## Question 2

2. Use the space above to assist in matching each variable (a, b, c ) as the appropriate key that describes the value in the job_sol_2 dictionary. Notice you can have the same letter appear more than once.

In [31]:
a = 'yes'
b = 'no'
c = 'hard to tell'

job_sol_2 = {'Do individuals who program outside of work appear to have higher JobSatisfaction?': a,
             'Does flexibility to work outside of the office appear to have an influence on JobSatisfaction?': a, 
             'A friend says a Doctoral degree increases the chance of having job you like, does this seem true?': a}
             
t.jobsat_check2(job_sol_2)

Nice job! That's what we found as well!